<div class="dashboard-container">

  <section class="dashboard-menu">

    <h2>Current Menu</h2>

    <h3>Breakfast</h3>
    <div class="coffee-grid">
      @for (p of CoffeeService.breakfastItems(); track p._id) {
        <div class="coffee-card">

          <strong>{{ p.name }}</strong>

          <p class="description">
            {{ p.description }}
          </p>

          <p class="price">
            ₱{{ p.price }}
          </p>

          <div class="card-actions">
            <button
              class="btn-edit"
              (click)="startEdit(p)">
              Edit
            </button>

            <button
              class="btn-delete"
              (click)="deleteCoffee(p._id)">
              Delete
            </button>
          </div>

        </div>
      }
    </div>

    <h3>Coffee</h3>
    <div class="coffee-grid">
      @for (p of CoffeeService.coffeeItems(); track p._id) {
        <div class="coffee-card">

          <strong>{{ p.name }}</strong>

          <p class="description">
            {{ p.description }}
          </p>

          <p class="price">
            ₱{{ p.price }}
          </p>

          <div class="card-actions">
            <button class="btn-edit" (click)="startEdit(p)">
              Edit
            </button>

            <button class="btn-delete" (click)="deleteCoffee(p._id)">
              Delete
            </button>
          </div>

        </div>
      }
    </div>

    <h3>Cold Coffee</h3>
    <div class="coffee-grid">
      @for (p of CoffeeService.coldCoffeeItems(); track p._id) {
        <div class="coffee-card">

          <strong>{{ p.name }}</strong>

          <p class="description">
            {{ p.description }}
          </p>

          <p class="price">
            ₱{{ p.price }}
          </p>

          <div class="card-actions">
            <button class="btn-edit" (click)="startEdit(p)">
              Edit
            </button>

            <button class="btn-delete" (click)="deleteCoffee(p._id)">
              Delete
            </button>
          </div>

        </div>
      }
    </div>

    <h3>Tea</h3>
    <div class="coffee-grid">
      @for (p of CoffeeService.teaItems(); track p._id) {
        <div class="coffee-card">

          <strong>{{ p.name }}</strong>

          <p class="description">
            {{ p.description }}
          </p>

          <p class="price">
            ₱{{ p.price }}
          </p>

          <div class="card-actions">
            <button class="btn-edit" (click)="startEdit(p)">
              Edit
            </button>

            <button class="btn-delete" (click)="deleteCoffee(p._id)">
              Delete
            </button>
          </div>

        </div>
      }
    </div>

    <h3>Main Dish</h3>
    <div class="coffee-grid">
      @for (p of CoffeeService.mainDishItems(); track p._id) {
        <div class="coffee-card">

          <strong>{{ p.name }}</strong>

          <p class="description">
            {{ p.description }}
          </p>

          <p class="price">
            ₱{{ p.price }}
          </p>

          <div class="card-actions">
            <button class="btn-edit" (click)="startEdit(p)">
              Edit
            </button>

            <button class="btn-delete" (click)="deleteCoffee(p._id)">
              Delete
            </button>
          </div>

        </div>
      }
    </div>

    <h3>Dessert</h3>
    <div class="coffee-grid">
      @for (p of CoffeeService.dessertItems(); track p._id) {
        <div class="coffee-card">

          <strong>{{ p.name }}</strong>

          <p class="description">
            {{ p.description }}
          </p>

          <p class="price">
            ₱{{ p.price }}
          </p>

          <div class="card-actions">
            <button class="btn-edit" (click)="startEdit(p)">
              Edit
            </button>

            <button class="btn-delete" (click)="deleteCoffee(p._id)">
              Delete
            </button>
          </div>

        </div>
      }
    </div>

  </section>

  <aside class="dashboard-form">

    <h2>{{ editingId() ? 'Update Product' : 'Add Product' }}</h2>

    <form [formGroup]="CoffeeForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Product Name</label>
        <input
          type="text"
          formControlName="name"
          placeholder="eg.. Caramel Latte">
      </div>
      <div class="form-group">
        <label>Image URL</label>
      
        <input
          type="text"
          formControlName="image"
          placeholder="https://example.com/coffee.jpg">
      </div>

      <div class="form-group">
        <label>Description</label>

        <textarea
          rows="4"
          formControlName="description"
          placeholder="Enter product description">
        </textarea>
      </div>

      <div class="form-group">
        <label>Category</label>

        <select formControlName="category">
          <option value="">Select Category</option>
          <option value="breakfast">Breakfast</option>
          <option value="coffee">Coffee</option>
          <option value="coldCoffee">Cold Coffee</option>
          <option value="tea">Tea</option>
          <option value="mainDish">Main Dish</option>
          <option value="dessert">Dessert</option>
        </select>
      </div>

      <div class="form-group">
        <label>Price</label>

        <input
          type="number"
          formControlName="price">
      </div>

      <button
        class="btn-submit"
        type="submit">

        {{ editingId() ? 'Update Product' : 'Add Product' }}

      </button>

    </form>

  </aside>

</div>