.hero {
  position: relative;
  height: 550px;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);

  max-width: 500px;
  color: white;
}

.hero-overlay h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-overlay p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-btn {
  display: inline-block;
  padding: 14px 28px;
  background: #b58b52;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
}

.hero-btn:hover {
  opacity: 0.9;
}

.features {
  background: #f5f1e8;
  padding: 60px;
}

.features h2 {
  margin-bottom: 40px;
  font-size: 2.2rem;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.feature-card h3 {
  margin-bottom: 10px;
}

.offer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.offer-card {
  position: relative;
  height: 320px;
  overflow: hidden;
  border-radius: 16px;
  text-decoration: none;

  transition: all 0.35s ease;
}

.offer-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.5s ease;
}

.overlay {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.35s ease;
}

.overlay h3 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;

  transition: transform 0.35s ease;
}

/* Hover Effects */
.offer-card:hover {
  transform: translateY(-10px) scale(1.04);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.offer-card:hover img {
  transform: scale(1.15);
}

.offer-card:hover .overlay {
  background: rgba(0, 0, 0, 0.65);
}

.offer-card:hover .overlay h3 {
  transform: scale(1.1);
}

.overlay p {
  color: white;
  text-align: center;
  margin-top: 8px;
  opacity: 0.9;
}